/* THIS CODE WORKS, PLEASE DO NOT CHANGE!!! */
* {
    font-size: 14px;
    color: rgb(4, 4, 255);
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-left: 20px;
}

li:hover {
    background-color: rgba(161, 213, 255, 0.359);
    text-shadow: 1px 2px 1px rgba(36, 186, 255, 0.247);
}

.navbar-toggler {
    margin-right: 20px;
    color: #00B0EF;
    border: 1px solid #00B0EF;
}

.nav-item {
    font-size: 30px;
    padding: 0 30px 0;
    margin: -10px;
    justify-content: center!important;
    align-items: center;
}

.text, h1, .about-text {
    display: grid;
    font-size: 30px;
    color: blue;
    margin: 90px 60px 60px 60px ;
}

body {
    background-color:rgb(193, 225, 251);
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    /*padding-top: 80px;*/
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
.photo {
   display: grid;
   place-items: end;
   margin-right: 30px;
}

#back-to-top {
    display: none;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    display: flex;
    position: fixed;
    color:blue;
    font-size: 20px;
}

.c9video {
    display: block;
    margin: auto;
    padding-bottom: 30px;
}

iframe {
    border: none;
}

.about-text {
    background-color: /*rgb(2, 2, 159)*/ #0000ff;
    color:rgb(203, 227, 255);
    border-radius: 10px;
    padding: 15px;
    margin-top: 8rem;
}

ul {
    list-style: none;
}

.carousel-item img{
    min-width: 30%;
    max-width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: block;
}

.carousel {
    margin: 20vw;
}

#music-button-container, #play-pause {
    cursor: pointer;
    height: 60px;
    width: 70px;
    
background-repeat: no-repeat;
background-position: center;
background-size: 60px;
padding: none;
}
.play {
    background-image: url(./music2.png);
    margin-right: -1rem;
    margin-top: 1rem;
}
.pause {
    background-image: url(./equalizer.png)!important;
    margin-right: -1rem;
    margin-top: 1rem;
}

.nohover:hover {
    background-color: #F8F9FA;
}

.form {
    padding: 95px 40px;
}

label {
    margin: 0 0 5px 0;
}
input {
    margin-left: 5px;
}